@import url("https://fonts.googleapis.com/css?family=Inter:900|Inter:800|Inter:600|Inter:700|Inter:600|Inter:500|Inter:400|Inter:300|Inter:200|Inter:100");

:root {
    --linear-gradient: linear-gradient(120deg, var(--secondary), var(--accent));
    --linear-gradient-colours: var(--secondary), var(--accent);
    --colour-em: #f0f0f0;
    --colour: #d1d1d1;
    --colour-grey: #726e6a;
    --background: #121212;
    --background-light: #2d3134;
    --background-lighter: #40464b;
    --primary: #0c1f49;
    --secondary: #123a74;
    --accent: #60c2dd;

    --blue: #2182b3;
    --blue-darker: #11648e;
    --green: #2ba972;
    --orange: #e28446;
    --grey: #727a8a;
    --red: #dd2433;

    color-scheme: dark;
}

* {
    font-family: "Inter", sans-serif;
    color: var(--colour);
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: transparent;
}
::-webkit-scrollbar-thumb {
    border-radius: 15px;
    background-color: var(--background-light);
}
::-webkit-scrollbar-thumb:hover {
    background-color: var(--background-lighter);
}

body {
    background-color: var(--background);
}

input {
    border: none;
    outline: none;
    border-style: none;
}
a {
    font-style: normal;
    color: unset;
    text-decoration: none;
}
.button {
    --button-colour: #000;
    padding: 10px 28px;
    border-radius: 6px;
    border: 3px solid transparent;
    transition: 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
    cursor: pointer;
}
.button-blue {
    --button-colour: #2182b3;
}
.button-grey {
    --button-colour: #59595b;
}
.button-danger {
    --button-colour: #b93f49;
}
.button-success {
    --button-colour: #128d58;
}
.button-primary {
    border: 3px solid transparent;
    background-color: var(--button-colour) !important;
    color: var(--colour);

    &:hover {
        border: 3px solid var(--button-colour);
        background-color: transparent !important;
    }
}
.button-secondary {
    border: 3px solid var(--button-colour);

    &:hover {
        background-color: var(--button-colour) !important;
        color: var(--colour);
    }
}

.link {
    text-decoration: none;
    position: relative;
    color: var(--accent) !important;
    z-index: 1;

    &::before {
        background: var(--linear-gradient);
        content: "";
        inset: 0;
        position: absolute;
        transform: scaleX(0);
        transform-origin: right;
        transition: transform 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
        z-index: 0;
        height: 3px;
        border-radius: 5px;
        top: 100%;
    }

    &:hover::before {
        transform: scaleX(1);
        transform-origin: left;
        z-index: 0;
    }
}

.text-gradient {
    background: var(--linear-gradient);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

#overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: opacity 0.2s ease-out;
    pointer-events: none;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1001;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(4px);
    opacity: 0;

    &.on {
        opacity: 1;
    }

    &.on ~ *:not(.details-modal > *):not(.details-modal) {
        pointer-events: none;
    }
}

#mobile-support {
    overflow: hidden;
    width: 100dvw;
    height: 100dvh;
    background-color: var(--background);
    flex-direction: column;
    justify-content: center;
    position: fixed;
    z-index: 10010;
    display: none;

    & > * {
        margin: 4vh;
        text-align: center;
    }

    h2 {
        color: var(--orange);
        font-size: 44px;
    }

    p {
        font-size: 22px;
        width: 55%;
        margin: 0 auto;

        span {
            color: var(--accent);
        }
    }

    h4 {
        font-size: 28px;
        font-weight: 400;
        color: var(--accent);
    }
}

@media (max-width: 1100px) {
    #mobile-support {
        display: flex;
    }
}

.input-gradient {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 40vw;
    max-width: 40vw;
    padding: 1.4rem 2rem 1.6rem;
    background: var(--background-light);

    &:first-child {
        border-top-right-radius: 6px;
        border-top-left-radius: 6px;
    }
    &:last-child {
        border-bottom-right-radius: 6px;
        border-bottom-left-radius: 6px;
    }

    &::after {
        content: "";
        position: absolute;
        left: 0px;
        right: 0px;
        bottom: 0px;
        z-index: 100;
        height: 2px;
        background-position: 0% 0%;
        background: linear-gradient(
            to right,
            var(--secondary),
            var(--green),
            var(--accent),
            var(--green),
            var(--secondary),
            var(--green)
        );
        background-size: 500% auto;
        animation: gradient 3s linear infinite;
    }

    input.gradient {
        flex-grow: 1;
        color: var(--colour);
        font-size: 20px;
        line-height: 18px;
        vertical-align: middle;
        background: transparent;
    }

    #anim {
        cursor: pointer;
        &:hover {
            animation: shake 0.5s ease-in-out forwards;
        }

        .tooltip {
            opacity: 0;
            top: 5px;
            left: 20px;
            position: relative;
            background-color: var(--red);
            padding: 4px 11px;
            margin: 5px;
            font-size: 16px;
            border-radius: 50%;
            color: var(--colour);

            &::before,
            &::after {
                position: absolute;
                content: "";
                opacity: 0;
                transition: all 0.4s ease-in-out;
            }

            &::before {
                border-width: 8px 10px 8px 8px;
                border-style: solid;
                border-color: transparent var(--red) transparent transparent;
                left: 33px;
                top: 7px;
            }

            &::after {
                content: attr(data-tooltip);
                background: var(--red);
                width: 120px;
                height: 40px;
                font-size: 13px;
                font-weight: 300;
                top: -15px;
                left: 50px;
                padding: 10px;
                border-radius: 6px;
                letter-spacing: 1px;
            }

            &:hover::before,
            &:hover::after {
                opacity: 1;
                transform: translateY(-2px);
            }

            @keyframes shake {
                0% {
                    transform: rotate(2deg);
                }
                50% {
                    transform: rotate(-3deg);
                }
                70% {
                    transform: rotate(3deg);
                }
                100% {
                    transform: rotate(0deg);
                }
            }
        }
    }

    &.custom-message {
        height: 170px;
        border-radius: 0;

        textarea {
            background-color: transparent;
            border: 0;
            outline: 0;
            resize: none;
            width: 100%;
            max-width: 100%;
            max-height: 180px;
            color: var(--colour);
            font-size: 20px;
        }
    }

    &.file {
        border-top-right-radius: 0;
        border-top-left-radius: 0;
        font-size: 18px;

        .controls {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: 12px;
            width: 100%;
            height: 100%;

            img {
                height: 48px;
                width: auto;
                filter: invert(89%) sepia(0%) saturate(1264%) hue-rotate(159deg) brightness(96%) contrast(89%);
            }

            p,
            strong {
                font-weight: 300;
                font-size: 20px;

                span {
                    font-size: 18px;
                    color: var(--colour-grey);
                }
            }

            strong {
                color: var(--colour-grey);
            }

            .uploaded {
                // display: flex;
                // flex-direction: column;
                display: none;
                background-color: var(--background-light);
                border-radius: 6px;
                z-index: 100;
                position: absolute;
                font-size: 20px;
                height: 100%;
                width: 100%;

                h3 {
                    position: relative;
                    top: 7%;

                    span {
                        color: var(--accent);
                    }
                }

                p {
                    position: relative;
                    top: 12%;
                }
            }
        }

        #drop-area {
            cursor: pointer;
            width: 100%;
            height: 280px;
            padding: 8px;
            border-radius: 6px;
            text-align: center;
            border: 2px dashed var(--background-lighter);
        }

        &::after {
            display: none;
        }
    }
}

.loader-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1100;

    #loader {
        display: none;
        width: 48px;
        height: 48px;
        margin: auto;
        position: relative;

        &:before {
            content: "";
            width: 48px;
            height: 5px;
            background: #000;
            opacity: 0.25;
            position: absolute;
            top: 60px;
            left: 0;
            border-radius: 50%;
            animation: shadow 0.5s linear infinite;
        }

        &:after {
            content: "";
            width: 100%;
            height: 100%;
            background: var(--accent);
            animation: bxSpin 0.5s linear infinite;
            position: absolute;
            top: 0;
            left: 0;
            border-radius: 4px;
        }
    }
}

@keyframes bxSpin {
    17% {
        border-bottom-right-radius: 3px;
    }

    25% {
        transform: translateY(9px) rotate(22.5deg);
    }

    50% {
        transform: translateY(18px) scale(1, 0.9) rotate(45deg);
        border-bottom-right-radius: 40px;
    }

    75% {
        transform: translateY(9px) rotate(67.5deg);
    }

    100% {
        transform: translateY(0) rotate(90deg);
    }
}

@keyframes shadow {
    0%,
    100% {
        transform: scale(1, 1);
    }

    50% {
        transform: scale(1.2, 1);
    }
}

.navbar {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 15px;
    z-index: 1005;

    ul {
        list-style: none;
        margin: 0;
        padding: 0.5rem;
        display: flex;
        background-color: var(--background-light);
        width: fit-content;
        border-radius: 10px;
        box-shadow: 0 10px 50px 0 rgba(#05043e, 0.25);
    }

    li {
        margin: 0 0.5rem;
        padding: 0;

        &:first-child {
            margin-left: 0;
        }
        &:last-child {
            margin-right: 0;
        }
    }

    a {
        color: #fff;
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0.75rem;
        border-radius: 10px;
        position: relative;
        &:hover,
        &:focus,
        &.active {
            background-color: var(--primary);
            outline: 0;
            span {
                transform: scale(1);
                opacity: 1;
            }
        }
        i {
            font-size: 1.375rem;
        }
        span {
            position: absolute;
            background-color: var(--primary);
            white-space: nowrap;
            padding: 0.5rem 1rem;
            border-radius: 6px;
            top: calc(100% + 1rem);
            transform-origin: center top;
            transform: scale(0);
            opacity: 0;
            transition: 0.15s ease;
            &:before {
                content: "";
                display: block;
                width: 12px;
                height: 12px;
                position: absolute;
                background-color: var(--primary);
                left: 50%;
                top: -5px;
                transform: translatex(-50%) rotate(45deg);
                border-radius: 3px;
            }
        }
    }
}
