@import url("https://fonts.googleapis.com/css?family=Inter:700|Inter:400");

:root {
    // --linear-gradient: linear-gradient(
    //     124deg,
    //     rgba(153, 56, 217, 1) 10%,
    //     rgba(253, 29, 29, 1) 63%,
    //     rgba(252, 176, 69, 1) 100%
    // );
    // --linear-gradient-colours: rgba(153, 56, 217, 1) 10%, rgba(253, 29, 29, 1) 63%, rgba(252, 176, 69, 1) 100%;
    --linear-gradient: linear-gradient(120deg, var(--secondary), var(--accent));
    --linear-gradient-colours: var(--secondary), var(--accent);
    --colour-em: #fbfefd;
    --colour: #d1d1d1;
    --background: #121212;
    --background-light: #2d3134;
    --background-lighter: #40464b;
    --primary: #0c1f49;
    --secondary: #123a74;
    --accent: #60c2dd;
}

* {
    font-family: "Inter", sans-serif;
    color: var(--colour);
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body {
    background-color: var(--background);
}

a {
    font-style: normal;
    color: unset;
    text-decoration: none;
}
.button {
    --button-colour: #000;
    padding: 12px 30px;
    border-radius: 6px;
    border: 3px solid transparent;
    transition: 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
    cursor: pointer;
}
.button-blue {
    --button-colour: #2182b3;
}
.button-grey {
    --button-colour: #59595b;
}
.button-primary {
    border: 3px solid transparent;
    background-color: var(--button-colour) !important;
    color: var(--colour);

    &:hover {
        border: 3px solid var(--button-colour);
        background-color: transparent !important;
    }
}
.button-secondary {
    border: 3px solid var(--button-colour);

    &:hover {
        background-color: var(--button-colour) !important;
        color: var(--colour);
    }
}

.text-gradient {
    background: var(--linear-gradient);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}
