---
export const prerender = true;
import Layout from '../layouts/Layout.astro';
---

<Layout title='Home'>
	<main>
		<div class='front-page'>
			<div class='title'>
				<h1>3D Printing<br />Made <span class='text-gradient'>Simple</span>.</h1>
			</div>
			<div class='description'>PolarTec brings your 3D visions to life quickly, affordably, and with pure simplicity.</div>
			<div class='print'>
				<a href='/dashboard/new-order' class='button button-primary button-blue'>Order</a>
				<a href='https://printables.com' class='button button-secondary button-grey'>Explore Models</a>
			</div>
		</div>
		<div class='about'>
			<div class='features'>
				<div class='feature simple'>
					<div class='text'>
						<h2><div class='wrapper'>Straightforward,<br /><span class='text-gradient'>Hassle</span>-free</div></h2>
						<p>PolarTec offers a service that allows you to order a 3D model in just of few clicks. No more confusion.</p>

						<ul>
							<li>Contact us by simply clicking on any Contact button or scroll down to the contact section.</li>
							<li>Send your 3D file to us and we'll calculate the price and start printing!</li>
							<li>Once ready, we'll deliver it you.</li>
						</ul>
					</div>
					<div class='image'></div>
				</div>
				<div class='feature speed'>
					<div class='image'></div>
					<div class='text'>
						<h2><div class='wrapper'><span class='text-gradient'>Speeed</span> Guaranteed,<br />No More Waiting</div></h2>
						<p>PolarTec gives you exceptional printing speed so you don't have to wait.</p>

						<ul class='non-numbered'>
							<li>Item ([grams of pla]) - [time] minutes</li>
							<li>Item ([grams of pla]) - [time] minutes</li>
							<li>Item ([grams of pla]) - [time] minutes</li>
							<li>Item ([grams of pla]) - [time] minutes</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</main>
	<script
		src='https://cdn.jsdelivr.net/npm/basicscroll@3.0.4/dist/basicScroll.min.js'
		integrity='sha256-R2a8uLuzuKrkZw4ea/neLUAFJR184EN+L8Uxqe4Zg4Y='
		crossorigin='anonymous'></script>
	<!-- <script src='https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js'></script> -->
</Layout>

<style lang='scss'>
	body {
		overflow-x: hidden;
	}

	main {
		overflow-x: hidden;
	}

	.front-page {
		height: 100dvh;
		width: 100dvw;
		display: grid;
		grid-template-rows: 40% 30% 30%;
		justify-items: center;
		align-items: center;
		color: var(--colour-em);

		&::before {
			position: absolute;
			content: '';
			z-index: -1;
			bottom: 10%;
			width: 150%;
			left: -25%;
			height: 100%;
			background: linear-gradient(90deg, rgba(18, 58, 116, 0) 0%, #60c2dd 25%, #123a74 50%, #60c2dd 75%, rgba(108, 255, 117, 0) 100%);
			// background: linear-gradient(90deg, #123a74 0%, #60c2dd 100%);
			-webkit-mask-image: radial-gradient(rgba(0, 0, 0, 0.45), transparent 70%);
			mask-image: radial-gradient(rgba(0, 0, 0, 0.45), transparent 70%);
		}

		.title {
			text-align: center;
			font-size: 35px;
		}

		.description {
			font-size: 24px;
			position: relative;
			text-align: center;
		}

		.print {
			display: flex;
			font-size: 20px;
			gap: 32px;
		}
	}

	.about {
		width: 100dvw;
		height: 200dvh;
		display: flex;
		justify-content: center;

		.features {
			width: 90%;
			height: 100%;
			display: grid;
			justify-content: center;

			.feature {
				padding: 86px 64px;
				border-radius: 10px;
				width: 80vw;
				height: 60vh;
				background-color: var(--background-light);
				display: grid;
				grid-template-columns: 50% 50%;

				.text {
					gap: 32px;
					display: flex;
					flex-direction: column;

					h2 {
						font-size: 52px;
						font-weight: 700;
					}
					p {
						font-size: 22px;
					}

					ul {
						counter-reset: index;
						padding: 0;

						li {
							font-size: 18px;
							counter-increment: index;
							display: flex;
							align-items: center;
							padding: 12px 0;
							box-sizing: border-box;

							&::before {
								content: counters(index, '.', decimal-leading-zero);
								font-size: 28px;
								letter-spacing: -2px;
								font-weight: bold;
								min-width: 50px;
								padding-right: 6px;
								font-variant-numeric: tabular-nums;
								align-self: flex-start;
								background-image: linear-gradient(to bottom, var(--linear-gradient-colours));
								background-attachment: fixed;
								-webkit-background-clip: text;
								background-clip: text;
								-webkit-text-fill-color: transparent;
								color: transparent;
							}
						}
						li + li {
							border-top: 1px solid rgba(255, 255, 255, 0.2);
						}

						&.non-numbered {
							counter-increment: none;

							li {
								&::before {
									content: '';
									height: 35px;
									padding: 0;
								}
							}
						}
					}
				}

				&:first-child {
					position: relative;
					top: 5vh;
				}
			}
			.feature.speed {
				background-color: var(--background);
				border: 6px solid var(--background-light);
				width: calc(80vw - 6px);

				.text {
					h2 {
						text-align: right;
						.wrapper {
							span {
								display: inline-block;
								transform: scaleX(1.3);
								margin-right: 24px;
								will-change: transform, margin;
							}
						}
					}
				}
			}
		}
	}
</style>
<!-- 
<script defer>
basicScroll
	.create({
		elem: document.querySelector('body > main > div.about > div > div.feature.speed > div.text > h2 > div > span'),
		from: 'top-bottom',
		to: 'middle-middle',
		direct: true,
		props: {
			'--sx': {
				from: 1,
				to: 1.5,
			},
			'--ml': {
				from: 0,
				to: '46px',
			},
			'--mr': {
				from: 0,
				to: '40px',
			},
		},
	})
	.start();
</script> -->
